//$color-primary-light-90: #ebf3f5;
//$color-primary-light-80: #d7e7ea;
//$color-primary-light-70: #c3dae0;
//$color-primary-light-60: #afced5;
//$color-primary-light-50: #9bc2cb;
//$color-primary-light-40: #86b6c0;
//$color-primary-light-30: #72aab6;
//$color-primary-light-20: #5e9dab;
//$color-primary-light-10: #4a91a1;
//$color-primary: #368596;
//$color-primary-dark-10: #317887;
//$color-primary-dark-20: #2b6a78;
//$color-primary-dark-30: #265d69;
//$color-primary-dark-40: #20505a;
//$color-primary-dark-50: #1b434b;
//$color-primary-dark-60: #16353c;
//$color-primary-dark-70: #10282d;
//$color-primary-dark-80: #0b1b1e;
//$color-primary-dark-90: #050d0f;
$color-primary-light-90: #e6f6fa;
$color-primary-light-80: #ccecf4;
$color-primary-light-70: #b3e3ef;
$color-primary-light-60: #99d9e9;
$color-primary-light-50: #80d0e4;
$color-primary-light-40: #66c7df;
$color-primary-light-30: #4dbdd9;
$color-primary-light-20: #33b4d4;
$color-primary-light-10: #1aaace;
$color-primary: #00a1c9;
$color-primary-dark-10: #0091b5;
$color-primary-dark-20: #0081a1;
$color-primary-dark-30: #00718d;
$color-primary-dark-40: #006179;
$color-primary-dark-50: #005165;
$color-primary-dark-60: #004050;
$color-primary-dark-70: #00303c;
$color-primary-dark-80: #002028;
$color-primary-dark-90: #001014;

$color-secondary-light-90: #e6fafc;
$color-secondary-light-80: #ccf4f8;
$color-secondary-light-70: #b3eff5;
$color-secondary-light-60: #99eaf1;
$color-secondary-light-50: #80e5ee;
$color-secondary-light-40: #66dfeb;
$color-secondary-light-30: #4ddae7;
$color-secondary-light-20: #33d5e4;
$color-secondary-light-10: #1acfe0;
$color-secondary: #00cadd;
$color-secondary-dark-10: #00b6c7;
$color-secondary-dark-20: #00a2b1;
$color-secondary-dark-30: #008d9b;
$color-secondary-dark-40: #007985;
$color-secondary-dark-50: #00656f;
$color-secondary-dark-60: #005158;
$color-secondary-dark-70: #003d42;
$color-secondary-dark-80: #00282c;
$color-secondary-dark-90: #001416;

$color-accent-light-90: #fdecf0;
$color-accent-light-80: #fbd8e1;
$color-accent-light-70: #f8c5d2;
$color-accent-light-60: #f6b2c3;
$color-accent-light-50: #f49fb5;
$color-accent-light-40: #f28ba6;
$color-accent-light-30: #f07897;
$color-accent-light-20: #ed6588;
$color-accent-light-10: #eb5179;
$color-accent: #e93e6a;
$color-accent-dark-10: #d2385f;
$color-accent-dark-20: #ba3255;
$color-accent-dark-30: #a32b4a;
$color-accent-dark-40: #8c2540;
$color-accent-dark-50: #751f35;
$color-accent-dark-60: #5d192a;
$color-accent-dark-70: #461320;
$color-accent-dark-80: #2f0c15;
$color-accent-dark-90: #17060b;

$color-white: #fff;
$color-gray-10: #f8f9fa;
$color-gray-20: #f1f3f5;
$color-gray-30: #e9ecef;
$color-gray-40: #dee2e6;
$color-gray-50: #ced4da;
$color-gray-60: #adb5bd;
$color-gray-70: #868e96;
$color-gray-80: #495057;
$color-gray-90: #343a40;
$color-gray-90: #212529;

*:focus {
  display: none;
}

*:focus-visible {
  border-radius: 5px;
  outline: 4px solid rgba($color-accent, 0.7);
  outline-offset: 1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  //border: 1px solid green;
}

::selection {
  background: $color-accent;
  color: $color-white;
  transition: all 0.5s ease;
}

::-moz-selection {
  background: $color-accent;
  color: $color-white;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  overflow-x: hidden;
}

body {
  color: $color-primary-dark-80;
  font-family: "IRANSansX", Tahoma, sans-serif;
  font-weight: normal;
  height: 100vh;
  line-height: 2;
  position: relative;
  direction: rtl;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
